*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
:root {
  --primary: #86B817;
  --secondary: #FE8800;
  --light: #F5F5F5;
  --dark: #14141F;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}
.checked {
    color: yellow;
}
body{
  margin: 0%;
}

/* for Above navBar div*/
.AboveNavBarDiv{
  background-color: black;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.AboveNavBarDiv1{
height: 100%;
display: flex; 
color: white;
margin-left: 30px;
}
.AboveNavBarDiv1>div{
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
  margin-left: 15px;
}

.AboveNavBarDiv1>div:nth-child(3)>img{
   width: 17px;
 }

.AboveNavBarDiv1>div:nth-child(2)>img{
  width: 17px;
 } 

.AboveNavBarDiv1>div:nth-child(1)>img{
  width: 10px;
 } 

 .AboveNavBarDiv2{
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 70px;
  }

  
  .AboveNavBarDiv2>img{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 40px;
  }
  .AboveNavBarDiv2>img:hover{
    cursor: pointer;
    transform: translateY(-3px);
      }
  /* for Header part which consist Navbar */
  #header{
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../IMAGES/bg-hero.jpg);
    background-size: cover; 
  }

  #navbar1 {
    /* font-family: 'Nunito', sans-serif; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    position: relative;
    transition: .5s;

}

#navbar1>div:nth-child(2) {
    /* border: 1px solid red; */
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    font-size: large;
    /* margin-right: 200px; */
    text-underline-offset: 50px;
}

#navbar1>#log {
    width: 20%;
    /* border: 1px solid green; */

}

#navOptions>a {
    color: white;
    font-size: 20px;
}

#navOptions>a:nth-child(1) {

    color: white;
    text-decoration: none;
}

#navOptions>a:nth-child(2) {
    color: white;
    text-decoration: none;
}

#navOptions>a:nth-child(3) {
    color: white;
    text-decoration: none;
}

#navOptions>a:nth-child(4) {
    color: white;
    text-decoration: none;
}

#navOptions>a:nth-child(5) {
  color: #a1e117;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

#navOptions>:nth-child(6) {
    width: 10%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-top: -10px;
    text-decoration: none;
    /* background-color: #86B817; */
}

#navOptions>:nth-child(6)>img {
    width: 70%;
}

#navOptions>a:hover {
    cursor: pointer;
    color: #a1e117;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    transition: .5s;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}

#navOptions>:nth-child(6):hover {
    color: #FFFFFF;
    background-color: #a1e117;
    text-decoration: none;
    color: whitesmoke;
}

#header>hr {
    background-color: #585658;
    inline-size: 100%;
    height: 1px;
    border: 0px;
}

#log {
    margin-left: 70px;
    color: #86B817;
    font-weight: bolder;
    font-size: 40px
}

  #container{
    margin: auto;
    margin-top: 20px;
    display: grid;
  grid-template-columns: repeat(4,23%);
  row-gap: 17px;
  justify-content: space-evenly;
  text-align: center;
}

#container>div{
    /* border: 1px solid black; */
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    cursor: pointer; 
    position: relative;
    transition: transform 0.3s ease;
  transform: translateY(0px);   
}
#container>div:hover{
  transform: translateY(-15px)
}

#container>div>img{
    width: 100%;
    height: 250px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;    
}
#container>div>h3{
  color: var(--primary);
}
#container>div>h4{
  color: var(--dark);
  margin-bottom: 5%;
}

  #rating{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#container .enquiry_ToCartDiv{
    display: flex;
    justify-content:center;
    /* align-items: center; */
    height: fit-content;
    gap: 10px;
    margin-bottom: 10px;
}

#container .location{
    /* background-color: rgb(113, 140, 86); */
    width:fit-content;
    margin: auto;
    margin-top: -10px;
    
    /* margin-bottom: 10px; */
}

#container .enquiry_ToCartDiv > .enquiryBtn{
    border: transparent;
    width: 90%;
    height: 30px;
    border-radius: 10px;
    color:rgb(16, 2, 16);
    font-weight: bold;
    background-color: var(--primary);
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 10px;
    /* margin-left: 35px; */
}

#container .enquiry_ToCartDiv > .addCartBtn{
    border:  transparent;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: rgb(16, 1, 16);
    font-weight: bold;
    background-color:  var(--primary);
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 10px;
    /* margin-left: 35px; */
 }

 #container .enquiry_ToCartDiv > .enquiryBtn:hover{
    /* background-color: green; */
    color: white;
}

#container .enquiry_ToCartDiv > .addCartBtn:hover{
    /* background-color: green; */
    color: white;
}

#container>div>div:nth-child(4)>h1:hover{
    color: red;
}

.moreInfo{
    text-decoration: underline;
    color: blue;
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
}

.price{
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
}

/* More Info popup */
.moreInfoPopup{
    display: none;
    position: fixed;
    bottom: 10%;
    right: 25%;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
    border-radius: 10px;
  }

  .moreInfo1stDiv{
    background-color: lightskyblue;
    width: 600px;
    height: 500px;
    /* border: 1px solid orange; */
    border-radius: 10px;
  }

  .moreInfo_Sliding_Images_div{
    /* margin: auto; */
    margin-top: 10px;
    width: 50%;
    height:200px;
    border: 1px solid green;
    border-radius: 10px;
  }

  .mainMoreInfo{
    display: flex;
    /* border: 1px solid yellow; */
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .mainMoreInfo>img:nth-child(1){
    width: 40px;
    height: 40px;
    margin-right: 30px;
  }

  .moreInfo_Sliding_Image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .mainMoreInfo>img:nth-child(3){
    width: 40px;
    height: 40px;
    margin-left: 30px;
  }

  .moreInfoPopup .LocationDescriptionDiv{
    width: 80%;
    /* border: 1px solid blue; */
    margin: auto;
    margin-top: 10px;
    text-align: center;
  }

  .moreInfoPopup .LocationDescriptionDiv>b{
     text-decoration: underline;
     color:black;
  }

  .moreInfoPopup .LocationDescriptionDiv2{
    height: 200px;
    text-align: justify;
    /* border:1px solid red; */
    text-decoration: none;
    overflow:auto;
    padding: 10px;
    padding-bottom: 0px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: lavender;
}

  .close{
    width: 100px;
    height: 35px;
    background-color: white;
    /* border: 1px solid orange; */
    border-radius: 10px;
    color:orange;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .close:hover{
    background-color: red;
    color: black;
  }

/* add to payment butn it will get you grand total*/
  #enquiryBtn{
    width: 20%;
    border-radius: 10px;
    border: transparent;
    font-size: larger;
    background-color: var(--primary);
  }
  #enquiryBtn:hover{
    cursor: pointer;
    color: white;
  }



  
  /* Footer part */
  
#company_info{
  color: white;
}
#company_info>img{
  width: 20%;
}
#footer1{
  display: flex;
  background-color: black;
  margin-top:50px;
  justify-content: center;
  justify-content: space-evenly;
}
#contact_footer>h2{
  color: white;
}
#num{
  display: flex;
  color: white;
  /* border: 2px solid red; */
}
#contact_footer>div>img{
  width: 15%;
}
#location{
  color: white;
  display: flex;
  /* border: 2px solid red; */
  margin-top: 2%;
}
#time{
  color: white;
  display: flex;
  gap: 10px;
  /* border: 2px solid red; */
  margin-top: 4%;
}
#time>img{
  
  height: 50px;
  /* border: 2px solid red; */
}
#trip{

  color: white;
}
#trip>div{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* border: 1px solid rgb(239, 10, 10); */
  gap: 10px;
}
#trip>div>img{
  width: 100px;
  height: 100px;
}