*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
:root {
  --primary: #86B817;
  --secondary: #FE8800;
  --light: #F5F5F5;
  --dark: #14141F;
}
.checked {
    color: orange;
}
body{
  margin: 0%;
}

/* for Above navBar div*/
.AboveNavBarDiv{
  background-color: black;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.AboveNavBarDiv1{
height: 100%;
display: flex; 
color: white;
margin-left: 30px;
}
.AboveNavBarDiv1>div{
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
  margin-left: 15px;
}

.AboveNavBarDiv1>div:nth-child(3)>img{
   width: 17px;
 }

.AboveNavBarDiv1>div:nth-child(2)>img{
  width: 17px;
 } 

.AboveNavBarDiv1>div:nth-child(1)>img{
  width: 10px;
 } 

 .AboveNavBarDiv2{
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 70px;
  }

  
  .AboveNavBarDiv2>img{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 40px;
  }
  .AboveNavBarDiv2>img:hover{
    cursor: pointer;
    transform: translateY(-3px);
      }
  /* for Header part which consist Navbar */
  #header{
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url("https://images.unsplash.com/photo-1571896349842-33c89424de2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8aG90ZWxzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
    height: 590px;
    background-size: cover; 
  }

  #navbar1 {
    /* font-family: 'Nunito', sans-serif; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    position: relative;
    transition: .5s;

}

#navbar1>div:nth-child(2) {
    /* border: 1px solid red; */
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    font-size: large;
    /* margin-right: 200px; */
    text-underline-offset: 50px;
}

#navbar1>#log {
    width: 20%;
    /* border: 1px solid green; */

}

#navOptions>a {
    color: white;
    font-size: 20px;
}

#navOptions>a:nth-child(1) {
  color: white;
  text-decoration: none;
}

#navOptions>a:nth-child(2) {
  color: white;
  text-decoration: none;
}

#navOptions>a:nth-child(3) {
  color: #a1e117;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

#navOptions>a:nth-child(4) {
    color: white;
    text-decoration: none;
}

#navOptions>a:nth-child(5) {
    color: white;
    text-decoration: none;
}

#navOptions>:nth-child(6) {
    width: 10%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-top: -10px;
    text-decoration: none;
    /* background-color: #86B817; */
}

#navOptions>:nth-child(6)>img {
    width: 70%;
}

#navOptions>a:hover {
    cursor: pointer;
    color: #a1e117;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    transition: .5s;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}

#navOptions>:nth-child(6):hover {
    color: #FFFFFF;
    background-color: #a1e117;
    text-decoration: none;
    color: whitesmoke;
}

#header>hr {
    background-color: #585658;
    inline-size: 100%;
    height: 1px;
    border: 0px;
}

#log {
    margin-left: 70px;
    color: #86B817;
    font-weight: bolder;
    font-size: 40px
}
  .middleText{
    text-align: center;
    color: white;
    font-size: 30px;
    margin: auto;
    margin-top: 130px;

  }

  .middleText>h1{
   margin-bottom: 0px;
  }

  .middleText>h4{
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 25px;
  
   }

   #searchBar{
    width: 800px;
    height: 50px;
    border-radius: 30px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: bolder;
  }

  #searchBar:hover{
    border: 5px solid skyblue;
  }

  #searchBtn{
    margin-left: -120px;
    width: 100px;
    font-size: 20px;
    height: 35px;
    border-radius: 25px;
    background-color: #a1e117;
    border: 0px;
    color: white;
    margin-top: 10px;
  }

  .Filter{
    display: flex;
    justify-content: space-between;
   }
   #byPrice{
    width: 100px;
    height: 40px;
    text-align: center;
    margin-right: 15px;
    margin-left: 35px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 20px;
   }

   #byPrice:hover{
    cursor: pointer;
    background-color: rgb(191, 187, 187);;
    color: black;
   }

   #byRating{
    width: 100px;
    height: 40px;
    text-align: center;
    margin-right: 20px;
    margin-left: 0px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 20px;
   }
   #byRating:hover{
    cursor: pointer;
    background-color: rgb(191, 187, 187);;
    color: black;
   }

  #container{
    margin: auto;
    margin-top: 20px;
    display: grid;
  grid-template-columns: repeat(4,23%);
  row-gap: 20px;
  justify-content: space-evenly;
  text-align: center;
  
}

#container>div{
    /* border: 1px solid black; */
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    cursor: pointer; 
    position: relative;
    transition: transform 0.3s ease;
  transform: translateY(0px);   
}
#container>div:hover{
  transform: translateY(-15px)
}

#container>div>img{
    width: 100%;
    height: 250px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px; 
   
}
#container>div>h3{
  color: var(--primary);
}
#container>div>h4{
  color: var(--dark);
  margin-bottom: 5%;
}


  #rating{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
   /* margin-left: 0px;
   border: 4px solid black; */
    
}

#container .enquiry_ToCartDiv{
    display: flex;
    justify-content:center;
    /* align-items: center; */
    height: fit-content;
    gap: 20px;
    margin-bottom: 10px;
}

#container .location{

    color: #eb2009;
    width:fit-content;
    margin: auto;
    margin-top: -10px;
    border: 4px solid red;
    /* margin-bottom: 10px; */
}

#container .enquiry_ToCartDiv > .enquiryBtn{
    border: transparent;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color:rgb(16, 2, 16);
    font-weight: bold;
    background-color: var(--primary);
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 10px;
    /* margin-left: 35px; */
}

#container .enquiry_ToCartDiv > .addCartBtn{
    border: transparent;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: rgb(16, 1, 16);
    font-weight: bold;
    background-color: var(--primary);
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 10px;
    /* margin-left: 35px; */
 }

 #container .enquiry_ToCartDiv > .enquiryBtn:hover{
    
    color: white;
}

#container .enquiry_ToCartDiv > .addCartBtn:hover{
    
    color: white;
}

#container>div>div:nth-child(4)>h1:hover{
    color: red;
}

.moreInfo{
    text-decoration: underline;
    color: rgb(242, 65, 68);
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
}

.price{
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
}

/* More Info popup */
.moreInfoPopup{
    display: none;
    position: fixed;
    bottom: 10%;
    right: 25%;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
    border-radius: 10px;
  }

  .moreInfo1stDiv{
    background-color: lightskyblue;
    width: 600px;
    height: 500px;
    /* border: 1px solid orange; */
    border-radius: 10px;
  }

  .moreInfo_Sliding_Images_div{
    /* margin: auto; */
    margin-top: 10px;
    width: 50%;
    height:200px;
    border: 1px solid green;
    border-radius: 10px;
  }

  .mainMoreInfo{
    display: flex;
    /* border: 1px solid yellow; */
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .mainMoreInfo>img:nth-child(1){
    width: 40px;
    height: 40px;
    margin-right: 30px;
  }

  .moreInfo_Sliding_Image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .mainMoreInfo>img:nth-child(3){
    width: 40px;
    height: 40px;
    margin-left: 30px;
  }

  .moreInfoPopup .LocationDescriptionDiv{
    width: 80%;
    /* border: 1px solid blue; */
    margin: auto;
    margin-top: 10px;
    text-align: center;
  }

  .moreInfoPopup .LocationDescriptionDiv>b{
     text-decoration: underline;
     color:black;
  }

  .moreInfoPopup .LocationDescriptionDiv2{
    height: 200px;
    text-align: justify;
    /* border:1px solid red; */
    text-decoration: none;
    overflow:auto;
    padding: 10px;
    padding-bottom: 0px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: lavender;
}

  .close{
    width: 100px;
    height: 35px;
    background-color: white;
    /* border: 1px solid orange; */
    border-radius: 10px;
    color:orange;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .close:hover{
    background-color: red;
    color: black;
  }


/* Footer part */
#company_info{
  color: white;
}
#company_info>img{
  width: 20%;
}
#footer1{
  display: flex;
  background-color: black;
  margin-top:50px;
  justify-content: center;
  justify-content: space-evenly;
}
#contact_footer>h2{
  color: white;
}
#num{
  display: flex;
  color: white;
  /* border: 2px solid red; */
}
#contact_footer>div>img{
  width: 15%;
}
#location{
  color: white;
  display: flex;
  /* border: 2px solid red; */
  margin-top: 2%;
}
#time{
  color: white;
  display: flex;
  gap: 10px;
  /* border: 2px solid red; */
  margin-top: 4%;
}
#time>img{
  
  height: 50px;
  /* border: 2px solid red; */
}
#trip{

  color: white;
}
#trip>div{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* border: 1px solid rgb(239, 10, 10); */
  gap: 10px;
}
#trip>div>img{
  width: 100px;
  height: 100px;
}

/* #footer hr{
width: 95%;
}
#footer img{
  width: 35px;
  margin-left: 10px;
}
#newsLater{
  text-align: center;
padding-top: 40px;
color: #ddd;
}
#pack{ 
text-align: center;
}
#pack>button{
  margin-left: 30px;
  width: 170px;
  height: 50px;
  border-radius: 20px;
  background-color: #FFFFFF;
  color: #3EA8FF;
  font-weight: bold;
  font-size: large;
  border: none;

}
#pack>input{
  width: 400px;
  height: 50px;
  border-radius: 20px;
  background-color: #FFFFFF;
  color: #3EA8FF;
  font-weight: bold;
  font-size: large;
 padding-left: 20px;
}
#subscribe:hover{
color: white;
background-color: black;
}

#f123{
display: flex;
align-items: center;
justify-content: center;
color: white;
cursor: pointer;
} */






  

  /* The popup form - hidden by default */
.enquiry-form-popup {
  display: none;
  position: fixed;
  bottom: 10%;
  right: 25%;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Add styles to the form container */
.enquiry-form-container {
  max-width: 300px;
  padding: 10px;
  background-color: lightskyblue;
}

/* Full-width input fields */
.enquiry-form-container input[type=text]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.enquiry-form-container input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

#innerDivForm{
  display: flex;
  background-color: #F2F2F2;
}
#innerDivForm>div:nth-child(1){
  width: 400px;
  text-align: justify;
  color: #494F5D;
  margin-right: 35px;
}
#innerDivForm>div:nth-child(1)>h1{
  margin-left: 25px;
}
#innerDivForm>div:nth-child(1)>img{
  width: 40px;
  margin-left: 15px;
  margin-top: 20px;
}
#innerDivForm>div:nth-child(1)>#first{
 margin-left: 122px;
}
#innerDivForm>div:nth-child(1)>hr{
    width: 90%;
}
#innerDivForm>div:nth-child(1)>h3{
  text-align: center;
}
#innerDivForm>div:nth-child(1)>h2{
  color: orange;
  text-align: center;
}

/* enquiry 2nd div */
#innerDivForm>div:nth-child(2){
 background-color: lightskyblue;
 width: 300px;
}
#name,#country,#email,#desc,#travDate,#persons,#contact{
  width: 260px;
  height: 30px;
  margin-bottom: 15px;
  background-color: #F1F1F1;
  border: 0px;
  border-radius: 5px;
}
#enquiry-submitBtn{
 background-color: greenyellow;
 width: 100px;
 height: 30px;
 color:black;
}
#enquiry-closeBtn{
  background-color: red;
 width: 100px;
 height: 30px;
 color:black;
}

