* {
    box-sizing: border-box;
}

#main {
    background-color: #e3f5ff;
    width: 90%;
    margin: auto;
    /* background-image: url('https://static.vecteezy.com/system/resources/previews/009/302/786/original/mountains-forest-background-texture-silhouette-of-coniferous-forest-tent-with-bonfire-hiking-concept-tourism-camping-with-wild-nature-season-trees-spruce-fir-horizontal-landscape-free-vector.jpg'); */

}


.Top_bar {
    width: 90%;
    height: 30px;
    background-color: #00a3ff;
    margin: auto;
}

#navbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    margin-top: 1%;

    /* background: transparent; */
    background-color: #e3f5ff;
}

#navbar img {
    width: 33%;
    border-radius: 30%;
    margin: auto;
    margin-left: 1%;
}

#navOptions {
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: large;
    margin: 1%;
}

a {
    text-decoration: none;
    color: black;
    transition: text-decoration;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

/* Content to lander page */

#content_data {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    margin-top: 4%;

}

#content_img {
    margin-left: 5%;
    display: flex;
    border-radius: 10%;
    border: 1px solid black;

}

#contentInfo {
    margin-top: -5%;
}

#content_img>img:nth-child(1) {
    height: 100%;
    width: 50%;
    border-radius: 25%;
    border: 5px solid #dbdedf;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    ;

}

#content_img>img:nth-child(2) {
    height: 90%;
    width: 50%;
    margin-right: 10%;
    margin-top: 20%;
    border-radius: 25%;
    border: 5px solid #dbdedf;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    ;
}

#content_btn {
    border-radius: 20%;
    background-color: #00d8f2;
    color: white;
    width: 25%;
    height: 11%;
    font-size: large;
    margin-top: 1%;
}

#content_btn:hover {
    color: blue;
    cursor: pointer;
}


#searchBar {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 10%;
    align-items: center;
    height: 50px;
}

#search {
    width: 80%;
    margin: auto;
    height: 100%;
}

#desc {
    text-align: center;
}

#description {
    text-align: center;
}

/* midDiv part */
#midDiv {
    width: 90%;
    margin: auto;
    background-color: white;
}

/* Three cards */

#threeCards {
    display: flex;
    text-align: center;
    gap: 5%;
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

#threeCards>div>img {
    height: 30%;
    width: 30%;
    margin-top: 5%;

}

#threeCards>div {
    width: 80%;
    border-radius: 10%;
    border: 1px solid rgb(168, 164, 164);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

/* world map info */

#worldMapInfo {
    margin-top: 10%;
    text-align: center;
}

#worldImg>img {
    margin: auto;
    width: 100%;
}

/* cards popular destinations */

#popularDestination {
    text-align: center;
    margin-top: 5%;
}

#destinationDiv {
    display: flex;
    justify-content: center;
    gap: 1%;
    text-align: center;
    width: 90%;
    margin: auto;
}

#destinationDiv>div {
    border: 1px solid rgb(239, 215, 215);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 50%;
    border: 1px solid black;
}

#destinationDiv>div>img {
    width: 80%;
    height: 60%;
}

#destinationDiv>div>div {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#destinationDiv>div>div>button {

    width: 40%;
    height: 50%;
}

#form {
    width: 90%;
    margin: auto;
    display: grid;
    justify-content: center;
    /* border: 1px solid black; */
    text-align: center;
}

#details {
    display: flex;
    width: 100%;
}

#message {
    width: 100%;
}

#getInTouch {
    text-align: center;
    margin: auto;
    width: 90%;
}

#footer {
    display: flex;
}